@model VaultAPI.Models.Dto.CreateSecretDto

@{
    ViewData["Title"] = "Crear Secreto";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

    <div style="margin: 50px;">
        <h3>🔐 Crear Secreto</h3>

        <form method="post" asp-action="Create" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div style="margin-bottom: 10px;">
                <label for="Name">Nombre del Secreto:</label>
                <input name="Name" id="Name" type="text" />
            </div>

            <div style="margin-bottom: 10px;">
                <label for="Type">Tipo:</label>
                <select name="Type" id="Type">
                    <option value="password">Password</option>
                    <option value="fiel">Archivo (Fiel)</option>
                </select>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="CompanyId">ID de la Empresa:</label>
                <input name="CompanyId" id="CompanyId" type="number" />
            </div>

            <div style="margin-bottom: 10px;">
                <label for="Expiration">Fecha de Expiración:</label>
                <input name="Expiration" id="Expiration" type="datetime-local" />
            </div>

            <div style="margin-bottom: 10px;">
                <label for="Value">Valor del Secreto:</label>
                <input name="Value" id="Value" type="text" />
            </div>

            <button type="submit">Crear Secreto</button>
        </form>
    </div>

</body>
</html>
