@model VaultAPI.Models.Secret

<h3>Vista de Secreto</h3>

<div>
    <h4>Nombre del Secreto:</h4>
    <p>@Model.Name</p>

    <h4>Tipo:</h4>
    <p>@Model.Type</p>

    <h4>Fecha de Expiración:</h4>
    <p>@Model.Expiration?.ToString("yyyy-MM-dd")</p>

    <h4>Empresa Asociada:</h4>
    <p>@Model.CompanyId</p> <!-- Puedes mostrar el nombre de la empresa si lo necesitas -->
</div>
